[profile.default]
  src = "src"
  out = "out"
  solc = "0.8.19"
  libs = ["lib"]
  remappings = ["@axiom-crypto/axiom-std/=lib/axiom-std/src/"]
  ffi = true
  ast = true

[rpc_endpoints]
base = "${BASE_PROVIDER_URI}"

[fmt]
  bracket_spacing = true
  int_types = "long"
  line_length = 120
  multiline_func_header = "attributes_first"
  number_underscore = "thousands"
  quote_style = "double"
  single_line_statement_blocks = "multi"
  tab_width = 4
  wrap_comments = false
