name: test

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - "**"

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          export BASE_PROVIDER_URI=${{ secrets.BASE_PROVIDER_URI }}
          forge test -vvvv
        id: test

  circuit:
    name: Circuit project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Run Cargo Build
        working-directory: ./circuit
        run: |
          cargo build --verbose
        id: build

      - name: Run Cargo tests
        working-directory: ./circuit
        run: |
          export PROVIDER_URI=${{ secrets.BASE_PROVIDER_URI }}
          cargo test
        id: test

